* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
    margin: 0px;
    padding: 60px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header .thin-header {
    font-size: 24px;
    font-weight: 400;
}

header .bold-header {
    font-size: 25px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin: 5px 0;
}

#container {
    display: grid;
    grid-template-areas:
    ". team-builder ."
    "supervisor team-builder calculator"
    "supervisor karma calculator"
    ". karma .";
    column-gap: 20px;
    row-gap: 20px;
}

#container .section {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 6px 18px -4px;
}

.supervisor {
    grid-area: supervisor;
    border-top: solid hsl(180, 62%, 55%);
}

.team-builder {
    grid-area: team-builder;
    border-top: solid hsl(0, 78%, 62%);
}

.karma {
    grid-area: karma;
    border-top: solid hsl(34, 97%, 64%);
}

.calculator {
    grid-area: calculator;
    border-top: solid hsl(212, 86%, 64%);
}

section .title {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

section p {
    padding: 10px 0;
    font-size: 15px;
}

section img {
    align-self: flex-end;
    margin-top: 10px;
    width: 36px;
}


@media (max-width: 900px) {
    body {
        padding: 0px;
    }

    header {
        margin-bottom: -230px;
    }

    header .thin-header {
        font-size: 20px;
        font-weight: 400;
    }
    
    header .bold-header {
        font-size: 21px;
        font-weight: 600;
        color: hsl(234, 12%, 34%);
        margin: 4px 0;
    }

    #container {
        column-gap: 16px;
        row-gap: 16px;
    }

    #container .section {
        margin: 0;
        padding: 8px;
        width: 230px;
        height: 144px;
    }

    section p {
        padding: 8px 0;
        font-size: 14px;
    }

    section img {
        align-self: flex-end;
        width: 30px;
    }
}

@media (max-width: 375px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        text-align: center;
        margin-bottom: 20px;
        position: relative;
        top: 0;
        left: 0;
    }
    
    header .thin-header {
        font-size: 23px;
        font-weight: 400;
    }
    
    header .bold-header {
        font-size: 24px;
        font-weight: 600;
        color: hsl(234, 12%, 34%);
        margin: 10px 0;
    }

    header .description {
        text-align: center;
        margin-bottom: 15px;
        padding: 0 1.4em;
    }

    header .description br {
        display: none;
    }

    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    #container .section {
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        width: 80%;
        height: 160px;
    }

    section img {
        align-self: flex-end;
        margin-top: 20px;
        width: 36px;
    }   
}